@inject IViewBag ViewBag

<div class="my_header pl-4 pr-2 pt-1 pb-1 pt-md-2 pb-md-2 bg-secondary text-white d-flex justify-content-between align-items-center">
    <h5 class="mb-0">@ViewBag.заголовок_страницы</h5>
    <nav>
        <a class="btn btn-secondary m-0" href="http://www.hram-babynino.somee.com/" title="Сайт">Сайт</a>
        <a class="btn btn-secondary m-0" href="Identity/Account/Manage/Index" title="Профиль"><h5 class="fas fa-user-circle mb-0"></h5></a>
    </nav>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ViewBag.Заголовок_изменён += Обновить_меня;
    }

    private void Обновить_меня()
    {
        InvokeAsync(StateHasChanged);
    }
}
