<div class="accordion mb-3" id="posts">
    <nav class="d-flex align-items-center mb-3">
        <button class="btn btn-dark mr-3" type="button" data-toggle="collapse" data-target="#published" aria-expanded="true">Опубликованные</button>
        <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#notpublished" aria-expanded="false">Неопубликованные</button>
    </nav>   
        <div class="collapse show" id="published" data-parent="#posts">            
                @Опубликованные            
        </div>
        <div class="collapse" id="notpublished" data-parent="#posts">
                @Неопубликованные
        </div>    
</div>

@code {
    [Parameter]
    public RenderFragment Опубликованные { get; set; }

    [Parameter]
    public RenderFragment Неопубликованные { get; set; }
}
