@using blazorControlPanel.Models 

<div class="card border-0 mb-3">
    <div class="row no-gutters">
        <div class="col-md-2">
            <img class="img-fluid" src="@post.cover_image" />
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5>@post.title</h5>
                <p class="text-muted">@post.description</p>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public post post { get; set; }
}
