@page "/comments"
@attribute [Authorize(Roles = "администратор")]
@inject ICommentsServices CommentsServices

<div class="row mb-1 bg-secondary text-white">
    <p class="col">userID</p>
    <p class="col">postID</p>
    <p class="col">Содержимое</p>
</div>
@foreach (var com in comments)
{
    <Comment comment="com"></Comment>
}


@code {
    List<comment> comments = new List<comment>();

    protected override void OnInitialized()
    {
        comments = CommentsServices.comments();
    }

}
