@page "/schedule/create"
@inject IViewBag ViewBag
@inject ISchedulesService SchedulesService

<div class="form-group mb-3">
    <input type="month" class="form-control border-0" placeholder="месяц" @bind="месяц_и_год_расписания" />
    <button @onclick="()=>сохранить()">Сохранить</button>
</div>

<Schedule schedule="schedule"></Schedule>


@code {
    private DateTime _месяц_и_год_расписания;
    private DateTime месяц_и_год_расписания
    {
        get
        {
            return _месяц_и_год_расписания;
        }
        set
        {
            _месяц_и_год_расписания = value;
            schedule.Clear();
            получение_данных_not_async();
        }
    }

    private List<schedule_string> schedule = new List<schedule_string>();

    protected override async Task OnInitializedAsync()
    {
        ViewBag.заголовок_страницы = "Создать расписание";

        _месяц_и_год_расписания = DateTime.Now;
        schedule.Clear();
        await получение_данных();

    }

    async Task сохранить()
    {
        await SchedulesService.create(schedule);
    }

    private async Task получение_списка_из_бд()
    {
        schedule = await SchedulesService.schedule(месяц_и_год_расписания);
    }

    private async Task получение_данных()
    {
        // Получаем данные из бд
        var schedule_db = await SchedulesService.schedule(месяц_и_год_расписания);

        // Заполняем месяц данными
        for (int i = 1; i <= DateTime.DaysInMonth(_месяц_и_год_расписания.Year, _месяц_и_год_расписания.Month); i++)
        {
            if (schedule_db.FirstOrDefault(s => s.date_and_time.Day == i) != null)
            {
                // Если есть данные из бд на этот день, то подставляем их
                schedule.Add(schedule_db.FirstOrDefault(s => s.date_and_time.Day == i));
            }
            else
            {
                // иначе, вставляем пустую строку
                schedule.Add(new schedule_string { date_and_time = new DateTime(месяц_и_год_расписания.Year, месяц_и_год_расписания.Month, i) });
            }
        }
    }

    private void получение_данных_not_async()
    {
        // Получаем данные из бд
        var schedule_db = SchedulesService.schedule_not_async(месяц_и_год_расписания);

        // Заполняем месяц данными
        for (int i = 1; i <= DateTime.DaysInMonth(_месяц_и_год_расписания.Year, _месяц_и_год_расписания.Month); i++)
        {
            if (schedule_db.FirstOrDefault(s => s.date_and_time.Day == i) != null)
            {
                // Если есть данные из бд на этот день, то подставляем их
                schedule.Add(schedule_db.FirstOrDefault(s => s.date_and_time.Day == i));
            }
            else
            {
                // иначе, вставляем пустую строку
                schedule.Add(new schedule_string { date_and_time = new DateTime(месяц_и_год_расписания.Year, месяц_и_год_расписания.Month, i) });
            }
        }
    }

    private async Task аааааааа()
    {
        // Получаем данные из бд
        var s_db = await SchedulesService.schedule(месяц_и_год_расписания);
        foreach (var str_db in s_db)
        {
            var str = schedule.FirstOrDefault(s => s.date_and_time.Year == str_db.date_and_time.Year && s.date_and_time.Month == str_db.date_and_time.Month && s.date_and_time.Day == str_db.date_and_time.Day);
            str = str_db;
        }
    }
}
