@page "/schedule/create"
@inject IViewBag ViewBag

<div class="form-group mb-3">
    <input type="month" class="form-control border-0" placeholder="месяц" @bind="расписание.schedule_year_and_month"/>
</div>

<Schedule schedule="расписание"></Schedule>




@code {
    private schedule расписание = new schedule(DateTime.Now);

    protected override void OnInitialized()
    {
        ViewBag.заголовок_страницы = "Создать расписание";

        //foreach
        //{
        //    расписание.Add(new schedule { date_and_time = new DateTime(выбранный_месяц_и_год.Year, выбранный_месяц_и_год.Month, i, 0, 0, 0), description = "", prayer = тип_службы.пусто });

        //}
    }
}
