@page "/schedule"
@using System.Globalization
@inject IViewBag ViewBag

<h3>@CultureInfo.GetCultureInfo("ru-RU").DateTimeFormat.GetMonthName(DateTime.Now.Month) @DateTime.Now.Year года</h3>

<Schedule date="DateTime.Now"></Schedule>


@code {
    protected override async Task OnInitializedAsync()
    {
        ViewBag.заголовок_страницы = "Расписание богослужений";
    }
}
