@page "/schedule"
@attribute [Authorize(Roles = "администратор")]
@using System.Globalization
@inject IViewBag ViewBag

<div class="mb-2 d-flex align-items-center justify-content-between" >
    <h3>Расписание на @CultureInfo.GetCultureInfo("ru-RU").DateTimeFormat.GetMonthName(DateTime.Now.Month).ToLower() @DateTime.Now.Year года</h3>
    <button class="btn btn-light noprint" onclick="window.print()"><i class="fas fa-print"></i></button>
</div>

<Schedule date="DateTime.Now"></Schedule>



@code {
    protected override async Task OnInitializedAsync()
    {
        ViewBag.заголовок_страницы = "Расписание богослужений";

        
    }
}
