@page "/users"
@attribute [Authorize(Roles = "администратор")]
@inject Microsoft.AspNetCore.Identity.UserManager<user> userManager
@inject IViewBag ViewBag



<div class="table-responsive">
    <table class="table ">
        <thead>
            <tr class="bg-secondary border-secondary text-white">
                <th scope="col" class="mr-1">Логин</th>
                <th scope="col">Номер телефона</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in userManager.Users)
            {
                <User user="user"></User>
            }
        </tbody>
    </table>
</div>


@code {
    protected override void OnInitialized()
    {
        ViewBag.заголовок_страницы = "Пользователи";
    }
}
