@page "/posts"
@inject blazorControlPanel.Services.IPostsServise PostsService
@using  blazorControlPanel.Models


@if (posts == null)
{
    <p>Подождите, пожалуйста!</p>
}
else
{
    <Список_постов>
        <Опубликованные>
            @foreach (var post in posts.Where(p => p.published == true).AsEnumerable().Reverse())
            {
                <Post post="post"></Post>
            }
        </Опубликованные>
        <Неопубликованные>
            @foreach (var post in posts.Where(p => p.published == false).AsEnumerable().Reverse())
            {
                <Post post="post"></Post>
            }
        </Неопубликованные>
    </Список_постов>
}





@code{
    List<post> posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await PostsService.posts();
    }
}
