@page "/posts"
@inject blazorControlPanel.Services.IPostsServise PostsService
@using  blazorControlPanel.Models
@using System.Collections.Generic


@if (posts == null)
{
    <p>Подождите, пожалуйста!</p>
}
else
{
    @foreach (var post in posts.AsEnumerable().Reverse())
    {
        <Post post="post"></Post>
    }
}


@code{
    List<post> posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await PostsService.posts();
    }
}
