<div class="btn-group btn-group-sm">
    <select class="btn btn-light" @bind="selectedTag">
        @foreach (var tag in tags)
        {
            <option>@tag.text</option>
        }
    </select>
    <button class="btn btn-dark" @onclick="()=>добавить.InvokeAsync(_selectedTag)"><i class="fas fa-plus"></i></button>
</div>

@code {
    [Parameter]
    public List<tag> tags { get; set; }

    tag _selectedTag = new tag();
    string selectedTag
    {
        get
        {
            return _selectedTag.text;
        }
        set
        {
            _selectedTag = new tag { text = value };
        }
    }

    [Parameter]
    public EventCallback<tag> добавить { get; set; }
}
