@page "/photos"
@inject IViewBag ViewBag
@inject IPhotosService PhotosService



    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
        @foreach (var album in albums.OrderByDescending(d => d.updated))
        {
            <Album album="album">
                <Navigation>
                    <button class="btn btn-light">Редактировать</button>
                    <button class="btn btn-light">Удалить</button>
                </Navigation>
            </Album>
        }
    </div>    



@code { 
    public List<imagesAlbum> albums = new List<imagesAlbum>();
    protected override async Task OnInitializedAsync()
    {
        ViewBag.заголовок_страницы = "Фотографии";
        albums = await PhotosService.imagesAlbums();
    }
}
