<table class="table table-sm ">
    <thead>
        <tr class="bg-secondary border-secondary text-white">
            <th scope="col"><div class="ml-3">Дата</div></th>
            <th scope="col"><div class="ml-2">Праздник</div></th>
            <th scope="col"><div class="ml-2">Время</div></th>
            <th scope="col"><div class="ml-3">Служба</div></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var str in schedule)
        {
                <Schedule_string schedule_string="str"></Schedule_string>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<schedule_string> schedule { get; set; }
}
