@page "/tags"
@inject IViewBag ViewBag 
@inject ITagsService TagsService  

<h3 class="mb-3">Доступные теги</h3>

<TagsSearcher inserted="true" удалить="удалить"></TagsSearcher>



@code {
    protected override void OnInitialized()
    {
        ViewBag.заголовок_страницы = "Менеджер тегов";
    }

    void удалить(tag tag)
    {
        TagsService.remove(tag);
    }
}
